<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>b_bishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,166},{82,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,88}}</string>
				<key>sourceSize</key>
				<string>{82,88}</string>
			</dict>

			<key>b_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,85},{77,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,84}}</string>
				<key>sourceSize</key>
				<string>{77,84}</string>
			</dict>

			<key>b_knight.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,170},{77,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,75}}</string>
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>

			<key>b_pawn.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,152},{55,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,75}}</string>
				<key>sourceSize</key>
				<string>{55,75}</string>
			</dict>

			<key>b_queen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{88,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,82}}</string>
				<key>sourceSize</key>
				<string>{88,82}</string>
			</dict>

			<key>b_rook.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{64,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,75}}</string>
				<key>sourceSize</key>
				<string>{64,75}</string>
			</dict>

			<key>w_bishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{82,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,89}}</string>
				<key>sourceSize</key>
				<string>{82,89}</string>
			</dict>

			<key>w_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,0},{77,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,84}}</string>
				<key>sourceSize</key>
				<string>{77,84}</string>
			</dict>

			<key>w_knight.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,85},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>w_pawn.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,76},{55,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,75}}</string>
				<key>sourceSize</key>
				<string>{55,75}</string>
			</dict>

			<key>w_queen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{88,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,82}}</string>
				<key>sourceSize</key>
				<string>{88,82}</string>
			</dict>

			<key>w_rook.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{64,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,75}}</string>
				<key>sourceSize</key>
				<string>{64,75}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>book_sprites.png</string>
			</dict>
		</dict>
</plist>